.new-tweet {
  border-radius: 10px;
  border-color: #c9cccb;
  border: 1px solid;
  background: linear-gradient(45deg, purple, blue);
  margin: 0 2em 2em 2em;

}

.new-tweet h2 {
  margin: 3px 0.5em 20px 0.5em;
  border-bottom: 2px solid #252625;
  color: #ffffff;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

textarea {
  border-radius: 3px;
  width: 95%;
  padding: 3px 5px 3px 5px;
  margin: 1px 10px 3px 10px;

}

input {
  border-radius: 3px;
  margin: 1px 10px 10px 10px;
}

.new-tweet span.counter {
  color: #ffffff;
  float: right;
  margin-right: 10px;
  display: inline-block;
}

.new-tweet span.negative-char-count {
  color: #ed1728;
  font-weight: bold;
}
